@model IEnumerable<ExpressVoitures.Models.Voiture>

@{
    ViewData["Title"] = "Nos voitures";
}

<div class="text-center">
    <h1 class="display-4">Nos voitures</h1>

    <div class="text-center">
        <a asp-controller="Voitures" asp-action="CreateSimple" class="boutonAction">+ Ajouter une voiture</a>
    </div>

    <div class="container-fluid annonces">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6">
                    <a asp-controller="Voitures" asp-action="DetailsSimple" asp-route-id="@item.Id" class="thumbnailCliquable">
                        <div class="row align-items-center thumbnail">
                            
                            @*Image de la voiture*@
                            <div class="col-8 image">
                                @if (!string.IsNullOrEmpty(item.Image))
                                {
                                    <img src="~/images/voitures/@item.Image"
                                         alt="Photo de la voiture"
                                         style="width:100%; height:auto; border-radius:5px;" />
                                }
                                else
                                {
                                    <span>Aucune image</span>
                                }
                            </div>

                            @*Informations de la voiture*@
                            <div class="col-4 texte">
                                <h2>@Html.DisplayFor(modelItem => item.PrixMiseEnVente) €</h2>
                                <p>@Html.DisplayFor(modelItem => item.Annee)</p>
                                <p>@Html.DisplayFor(modelItem => item.Marque.Nom)</p>
                                <p>@Html.DisplayFor(modelItem => item.Modele.Nom)</p>
                                <p>@Html.DisplayFor(modelItem => item.Finition.Nom)</p>
                            </div>

                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
