@model ExpressVoitures.Models.Voiture

@{
    ViewData["Title"] = "Ajouter une voiture";
}

<h1>Ajouter une voiture</h1>

<p class="information"> Tous les champs sont obligatoires</p>

<div class="row formDonnees">
    <div class="col-md-5 mx-auto">
        <form asp-action="CreateSimple" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" aria-live="polite"></div>
            <div class="form-group">
                <label asp-for="PrixMiseEnVenteString" class="control-label">Prix de vente</label>
                <input asp-for="PrixMiseEnVenteString" class="form-control" placeholder="100000" required />
                <span asp-validation-for="PrixMiseEnVenteString" class="text-danger" aria-live="polite"></span>
            </div>
            <div class="form-group">
                <label asp-for="Annee" class="control-label">Année</label>
                <select asp-for="Annee" asp-items="ViewBag.Annees" class="form-control" required>
                    <option value="">Sélectionnez une année</option>
                </select>
                <span asp-validation-for="Annee" class="text-danger" aria-live="polite"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdMarque" class="control-label">Marque</label>
                <select asp-for="IdMarque" id="marqueSelect" class="form-control" asp-items="ViewBag.Marques" required>
                    <option value="">Sélectionnez une marque</option>
                </select>
                <span asp-validation-for="IdMarque" class="text-danger" aria-live="polite"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdModele" class="control-label">Modèle</label>
                <select asp-for="IdModele" id="modeleSelect" class="form-control" required></select>
                <span asp-validation-for="IdModele" class="text-danger" aria-live="polite"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdFinition" class="control-label">Finition</label>
                <select id="finitionSelect" asp-for="IdFinition" class="form-control" required></select>
                <span asp-validation-for="IdFinition" class="text-danger" aria-live="polite"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelechargerImage" class="control-label">Visuel</label>
                <input asp-for="TelechargerImage" class="form-control" type="file" required />
                <span asp-validation-for="TelechargerImage" class="text-danger" aria-live="polite"></span>
            </div>
            <div class="form-group d-flex justify-content-center">
                <input type="submit" value="Publier" class="boutonAction" />
            </div>
        </form>
    </div>
</div>

@* -- Les modales -- *@
@* Modale pour Marque *@
<div class="modal" id="modaleMarque" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="titreModale">
    <div class="modal-dialog">
        <div class="modal-content">
            <header class="modal-header">
                <h2 id="titreModale" class="modal-title">Créer une marque</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </header>
            <div class="modal-body">
                @if (TempData["ErreurMarque"] != null)
                {
                    <div id="ErreurMarqueMessage" class="alert alert-danger">
                        @TempData["ErreurMarque"]
                    </div>
                    <div id="ErreurMarqueFlag" data-erreur="@TempData["ErreurMarque"]"></div>
                }
                @await Html.PartialAsync("~/Views/Marques/_CreatePartial.cshtml", new ExpressVoitures.Models.Marque())
            </div>
        </div>
    </div>
</div>

@* Modale pour Modèle *@
<div class="modal" id="modaleModele" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="titreModale">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 id="titreModale" class="modal-title">Créer un modèle pour la marque sélectionnée</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                @if (TempData["ErreurModele"] != null)
                {
                    <div id="ErreurModeleMessage" class="alert alert-danger">
                        @TempData["ErreurModele"]
                    </div>
                    <div id="ErreurModeleFlag" data-erreur="@TempData["ErreurModele"]"></div>
                }
                @await Html.PartialAsync("~/Views/Modeles/_CreatePartial.cshtml", new ExpressVoitures.Models.Modele())
            </div>
        </div>
    </div>
</div>

@* Modale pour Finition *@
<div class="modal" id="modaleFinition" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="titreModale">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 id="titreModale" class="modal-title">Créer une finition pour le modèle sélectionné</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                @if (TempData["ErreurFinition"] != null)
                {
                    <div id="ErreurFinitionMessage" class="alert alert-danger">
                        @TempData["ErreurFinition"]
                    </div>
                    <div id="ErreurFinitionFlag" data-erreur="@TempData["ErreurFinition"]"></div>
                }
                @await Html.PartialAsync("~/Views/Finitions/_CreatePartial.cshtml", new ExpressVoitures.Models.Finition())
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            
            // -- Récupération des éléments pour la gestion de la relation Marque-Modèle-Finition --
            const marqueSelect = document.getElementById('marqueSelect');
            const modeleSelect = document.getElementById('modeleSelect');
            const finitionSelect = document.getElementById('finitionSelect');
            const prixInput = document.getElementById('PrixMiseEnVente');
            const anneeInput = document.getElementById('Annee');

            // Restaurer les valeurs depuis sessionStorage si on vient d'une modale
            if (!sessionStorage.getItem("fromModal")) {
                sessionStorage.removeItem("prix");
                sessionStorage.removeItem("annee");
            }
            else {
                if (sessionStorage.getItem("prix")) {
                    prixInput.value = sessionStorage.getItem("prix");
                }
                if (sessionStorage.getItem("annee")) {
                    anneeInput.value = sessionStorage.getItem("annee");
                }
            }
            sessionStorage.removeItem("fromModal");
            
            const modelesParMarque = @Html.Raw(Json.Serialize(ViewBag.ModelesParMarque));
            const finitionsParModele = @Html.Raw(Json.Serialize(ViewBag.FinitionsParModele));

            // Désactiver Modèle et Finition
            modeleSelect.disabled = true;
            finitionSelect.disabled = true;

            // Ajouter l'option "Autre..." dans Marque
            marqueSelect.appendChild(new Option("Autre…", "-1"));

            // -- Sélection d'une marque --
            // Changement de la marque
            marqueSelect.addEventListener('change', function () {
                let marqueId = this.value;

                // Ouvrir une modale quand "Autre..." est sélectionné
                if (this.value === "-1") {
                    sessionStorage.setItem("fromModal", "1");
                    
                    // Sauvegarde des valeurs du formulaire
                    sessionStorage.setItem("prix", prixInput.value);
                    sessionStorage.setItem("annee", anneeInput.value);

                    $("#modaleMarque").modal("show");
                    return;
                }
                
                // Réinitialiser Modèle
                modeleSelect.innerHTML = '<option value="">Sélectionnez un modèle</option>';
                modeleSelect.disabled = false;

                // Réinitialiser Finition
                finitionSelect.innerHTML = "";
                finitionSelect.disabled = true;

                // Ajuster la liste des modèles
                if (modelesParMarque[marqueId]) {
                    modelesParMarque[marqueId].forEach(m => {
                        modeleSelect.appendChild(new Option(m.text, m.value));
                    });
                    modeleSelect.appendChild(new Option("Autre…", "-1"));
                }

                // Présélectionner automatiquement un modèle créé
                @if (ViewBag.ModeleCree != null)
                {
                    <text>
                        modeleSelect.value = "@ViewBag.ModeleCree";
                        modeleSelect.dispatchEvent(new Event('change'));
                    </text>
                }
            });

            // -- Sélection d'un modèle --
            // Changement du modèle
            modeleSelect.addEventListener('change', function () {
                let modeleId = this.value;

                // Ouvrir une modale quand "Autre..." est sélectionné
                if (this.value === "-1") {
                    document.getElementById("idMarquePourModele").value = marqueSelect.value;
                    sessionStorage.setItem("fromModal", "1");
                    
                    // Sauvegarde des valeurs du formulaire
                    sessionStorage.setItem("prix", prixInput.value);
                    sessionStorage.setItem("annee", anneeInput.value);

                    $("#modaleModele").modal("show");
                    return;
                }

                // Réinitialiser Finition
                finitionSelect.innerHTML = '<option value="">Sélectionnez une finition</option>';
                finitionSelect.disabled = false;

                // Ajuster la liste des finitions
                if (finitionsParModele[modeleId]) {
                    finitionsParModele[modeleId].forEach(f => {
                        finitionSelect.appendChild(new Option(f.text, f.value));
                    });
                    finitionSelect.appendChild(new Option("Autre…", "-1"));
                }

                // Présélectionner automatiquement une finition créée
                @if (ViewBag.FinitionCree != null)
                {
                    <text>
                        finitionSelect.value = "@ViewBag.FinitionCree";
                    </text>
                }
            });
            
            // -- Sélection d'une finition --
            // Changement de la finition
            finitionSelect.addEventListener('change', function () {
                let finitionId = this.value;

                // Ouvrir une modale quand "Autre..." est sélectionné
                if (this.value === "-1") {
                    document.getElementById("idModelePourFinition").value = modeleSelect.value;
                    sessionStorage.setItem("fromModal", "1");
                    
                    // Sauvegarde des valeurs du formulaire
                    sessionStorage.setItem("prix", prixInput.value);
                    sessionStorage.setItem("annee", anneeInput.value);

                    $("#modaleFinition").modal("show");
                    return;
                }
            });

            // Présélectionner automatiquement la marque correspondant
            @if (ViewBag.MarqueCree != null)
            {
                <text>
                    marqueSelect.value = "@ViewBag.MarqueCree";
                    marqueSelect.dispatchEvent(new Event('change'));
                </text>
            }

            // -- Réouverture automatique des modales si erreur --
            const erreurMarque = document.getElementById("ErreurMarqueFlag");
            if (erreurMarque && erreurMarque.dataset.erreur && erreurMarque.dataset.erreur.trim() != "") {
                $("#modaleMarque").modal("show");
            }

            const erreurModele = document.getElementById("ErreurModeleFlag");
            if (erreurModele && erreurModele.dataset.erreur && erreurModele.dataset.erreur.trim() != "") {
                $("#modaleModele").modal("show");
            }

            const erreurFinition = document.getElementById("ErreurFinitionFlag");
            if (erreurFinition && erreurFinition.dataset.erreur && erreurFinition.dataset.erreur.trim() != "") {
                $("#modaleFinition").modal("show");
            }
        });

        // -- Effacer les valeurs de sessionStorage quand on soumet le formulaire --
        const form = document.querySelector('form');
        if (form) {
            form.addEventListener('submit', function() {
                sessionStorage.removeItem("prix");
                sessionStorage.removeItem("annee");
            });
        }
    </script>
}
