@model ExpressVoitures.Models.Voiture

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Voiture</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeVin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeVin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Annee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Annee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @if (!string.IsNullOrEmpty(Model.Image))
            {
                <img src="~/images/voitures/@Model.Image" alt="Photo de la voiture" class="img-fluid" style="max-width:300px;" />
            }
            else
            {
                <span>Aucune image disponible</span>
            }

        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAchat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAchat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrixAchat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrixAchat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VoitureReparee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VoitureReparee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateMiseEnVente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateMiseEnVente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrixMiseEnVente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrixMiseEnVente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnnoncePubliee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnnoncePubliee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VoitureVendue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VoitureVendue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marque.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modele)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modele.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Finition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Finition.Nom)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
