@model ExpressVoitures.Models.Voiture

@{
    ViewData["Title"] = "Détails de la voiture";
}

<h1>Détails de la voiture</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            Code VIN
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeVin)
        </dd>
        <dt class = "col-sm-2">
            Année
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Annee)
        </dd>
        <dt class = "col-sm-2">
            Visuel
        </dt>
        <dd class = "col-sm-10">
            @if (!string.IsNullOrEmpty(Model.Image))
            {
                <img src="~/images/voitures/@Model.Image" alt="Photo de la voiture" class="img-fluid" style="max-width:300px;" />
            }
            else
            {
                <span>Aucune image disponible</span>
            }

        </dd>
        <dt class = "col-sm-2">
            Descritpion
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Dâte d'achat
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAchat)
        </dd>
        <dt class = "col-sm-2">
            Prix d'achat
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrixAchat)
        </dd>
        <dt class="col-sm-2">
            Voiture réparée ?
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VoitureReparee)
        </dd>
        <dt class = "col-sm-2">
            Dâte de mise en vente
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateMiseEnVente)
        </dd>
        <dt class = "col-sm-2">
            Prix de mise en vente
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrixMiseEnVente)
        </dd>
        <dt class = "col-sm-2">
            Annonce publiée ?
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnnoncePubliee)
        </dd>
        <dt class="col-sm-2">
            Voiture vendue ?
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VoitureVendue)
        </dd>
        <dt class = "col-sm-2">
            Marque
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marque.Nom)
        </dd>
        <dt class = "col-sm-2">
            Modèle
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modele.Nom)
        </dd>
        <dt class = "col-sm-2">
            Finition
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Finition.Nom)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editer la voiture</a> |
    <a asp-action="Index">Retour à la liste des voitures</a>
</div>
