@model IEnumerable<ExpressVoitures.Models.Voiture>

@{
    ViewData["Title"] = "Liste des voitures";
}

<h1>Listes des voitures</h1>

<p>
    <a asp-action="Create">Créer une nouvelle voiture</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Code Vin
            </th>
            <th>
                Année
            </th>
            <th>
                Visuel
            </th>
            <th>
                Description
            </th>
            <th>
                Dâte d'achat
            </th>
            <th>
                Prix d'achat
            </th>
            <th>
                Voiture réparée ?
            </th>
            <th>
                Dâte de mise en vente
            </th>
            <th>
                Prix de mise en vente
            </th>
            <th>
                Annonce publiée ?
            </th>
            <th>
                Voiture vendue ?
            </th>
            <th>
                Marque
            </th>
            <th>
                Modèle
            </th>
            <th>
                Finition
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodeVin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Annee)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.Image))
                {
                    <img src="~/images/voitures/@item.Image"
                            alt="Photo"
                            style="width:100px; height:auto; border-radius:4px;" />
                }
                else
                {
                    <span>Aucune image</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAchat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixAchat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VoitureReparee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateMiseEnVente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixMiseEnVente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnnoncePubliee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VoitureVendue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marque.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modele.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Finition.Nom)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editer</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Détails</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
